<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="demandas.html">App de Demandas</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMain">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="demandas.html">Todas as demandas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="minhas-demandas.html">Minhas Demandas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="departamento.html">Departamento</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Tipos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="tipos/correcoes.html">Correções</a></li>
            <li><a class="dropdown-item" href="tipos/melhorias.html">Melhorias</a></li>
            <li><a class="dropdown-item" href="tipos/implementacoes.html">Implementações</a></li>
          </ul>
        </li>

      </ul>

      <span class="navbar-text text-white me-3">
        Usuário: <strong>{{ usuario_obj.nome }}</strong>
      </span>
      <a href="{% url 'home' %}" class="btn btn-outline-light btn-sm">Sair</a>

    </div>
  </div>
</nav>